* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:rgba(104, 103, 106, 0.656);
    color:black;
    font-family:monospace;
   }
header{
    background-color:rgba(104, 103, 106);
    padding:30px;
    display:flex;
    max-height:200px;
    width: 100%;
    border-bottom: 5px solid black;

    
}

h1{
    font-size: 80px;
    position: relative;
    left: 50px;
    
    
}
nav{
    float: right;
    width: 100%;
    height: 100%;
    align-content: space-around;
    padding-top: 100px;
}
nav ul{
    list-style-type: none;
    float: right;
    padding: 0;
    margin: 0;
    font-size:35px;
    overflow:hidden;
   
}
nav li{
    display:inline;
    border-right: 2px solid rgb(0, 0, 0);
    
}
nav li a{
   
    color:rgb(0, 0, 0);
    
    text-align:end;
    padding: 20px 16px;
    text-decoration: none;
    text-transform:uppercase;

}
nav li a:hover{
    background-color:black;
    color:rgba(104, 103, 106);
}

.hero{
   height: 400px;
   width: 100%;
   margin-bottom: 25px;
   background-image:url("../images/gutter.jpg");
   background-size: cover;
   background-position:center;
   border-bottom: 5px solid black;
}


.hero-text{
    float: right;
    font-size: 30px;
    position:relative;
    top:300px;
    right: 30px;
    
}
.main_container{
    display:flex;
}
.float_left{
    float:left;
    font-size: 50px;
    flex: 30%;
    border-right: 5px solid black;
    padding: 5% 1% 2% 5%;
    margin: 5% 0;
    text-align: right;
    align-items:flex-start;
}
.float_right{
    float:right;
    flex: 68%;
    margin: 5% 5% 5% 3%;
}
.img_container{
    display: flex;
    height: 900px;
    flex-wrap: wrap;
    align-items: stretch;
    align-content:stretch;
    flex-grow: 0;
}
.img_children{
    flex: 45%;
    max-height: 200px;
    
    margin: 5px;
    border: 5px solid black;
    overflow: hidden;
    filter:brightness(50%);
    position:relative;
   /* background-image: url("../images/grass.jpg");
    width: 100%;
    background-size: cover;
   background-position:center;
   z-index: 0;*/
}
.img_children:hover{
    filter:brightness(100%);
}
.img_children:first-child{
    max-height: 400px;
    background-image: url("../images/leaf.jpg");
    background-size: cover;
    background-position:center;
    height:100%;
    margin-top: 0;
    
}
.img_children:nth-child(2){
    background-image: url("../images/grass.jpg");
    background-size: cover;
    background-position:center;
    height:100%;
    
    
    
}
.img_children:nth-child(3){
    background-image: url("../images/tulips.jpg");
    background-size: cover;
    background-position:center;
    height:100%;
    
}
.img_children:nth-child(4){
    background-image: url("../images/moon.jpg");
    background-size: cover;
    background-position:center;
    height:100%;
}
.img_children:nth-child(5){
    background-image: url("../images/Salamander.jpg");
    position: relative;
    background-size: cover;
    background-position:center;
    height:100%;
    
}
    
/*img{
     height: 100%;
     width: 100%;
     z-index: 0;
     position: relative; 
}*/


.img_children p{
    z-index:1;
}
.contact_me ul{
   
    position:fixed;
    left:50%;
    bottom:20px;
    text-align:center;


}
.contact_me li{
    display: inline;
    font-size: 30px;
    padding: 30px;
    width: 100%;
   
    margin: 5px 20px;
    border-bottom: 5px solid black;
    text-decoration:none;
    text-transform:uppercase;
 }
.contact_me li a{
    text-decoration:none;
    color: black;
}
.contact_me li a:hover{
background-color:black;
color:rgba(104, 103, 106);
}


