* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:rgba(104, 103, 106, 0.656);
    color:black;
    font-family:monospace;
   }
/*header and nav bar styling*/
header{
    background-color:rgba(104, 103, 106);
    padding: 35px;
    display:flex;
    max-height:45vh;
    width: 100%;
    border-bottom: 5px solid black;
}
h1{
    font-size: 7vw;
    width: 30%;
    position: relative;
    left: 5vw;
    background-color:black;
    color:rgba(104, 103, 106);
    padding: 0 5vw;
}
nav{
    
    
    width: 68%;
    height: 10vh;
     padding-top: 12vh;
}
nav ul{
    list-style-type: none;
    float: right;
    margin: 0;
    font-size:2vw;
    overflow:hidden;
}
nav li{
    
    display:inline;
    border-right: 2px solid rgb(0, 0, 0);
    
}
nav li a{
    color:rgb(0, 0, 0);
    text-align:justify;
    padding: 20px 16px;
    text-decoration: none;
    text-transform:uppercase;
    
}
nav li a:hover{
    background-color:black;
    color:rgba(104, 103, 106);
}
/*holds hero image */
.hero{
   height: 350px;
   width: 100%;
   margin-bottom: 25px;
   background-image:url("../images/beachgrass.jpg");
   background-size: cover;
   background-position:center;
   border-bottom: 5px solid black;
}
.hero-text{
    float: right;
    font-size: 1.8vw;
    position:relative;
    top:250px;
    right: 30px;
    width:45%;
    background-color: rgb(0, 0, 0);
    color: rgba(104, 103, 106);
    padding: 0 20px;
}
/*main content styling*/
.main_container{
    display:flex;
}
.float_left{
    float:left;
    font-size: 3.3vw;
    flex: 30%;
    border-right: 5px solid black;
    padding: 5% 1% 2% 5%;
    margin: 5% 0;
    text-align: right;
    align-items:flex-start;
}
.float_right{
    float:right;
    flex: 68%;
    margin: 5% 5% 5% 3%;
}
p{
    font-size: 1.7vw;
}
.img_container{
    display: flex;
    height: 1200px;
    flex-wrap: wrap;
    align-items: stretch;
    align-content:stretch;
    flex-grow: 0;
}
.img_children{
    flex: 45%;
    max-height: 300px;
    margin: 5px;
    border: 5px solid black;
    overflow: hidden;
    filter:brightness(40%);
    position:relative;
}
.img_children:hover{
    filter:brightness(100%);
}
/*pictures added into the image holder*/
.img_children:first-child{
    max-height: 500px;
    background-image: url("../images/gutter.jpg");
    background-size: cover;
    background-position:center;
    height:100%;
    margin-top: 0;
}
.img_children:nth-child(2){
    background-image: url("../images/seaweed.jpg");
    background-size: cover;
    background-position:center;
    height:100%;
}

.img_children:nth-child(3){
    background-image: url("../images/pebble.jpg");
    background-size: cover;
    background-position:center;
    height:100%;
}
.img_children:nth-child(4){
    background-image: url("../images/crab.jpg");
    background-size: cover;
    background-position:center;
    height:100%;
}
.img_children:nth-child(5){
    background-image: url("../images/beach.jpg");
    position: relative;
    background-size: cover;
    background-position:center;
    height:100%;
}
.img_header{
    font-size: 1vw;
    color: rgba(104, 103, 106);
    background-color:black;
    float: left;
    padding: 20px;
    position:relative;
    top:45%;
}
.img_header:hover{
    color:white;
}
.title{
    font-size:2vw;
}
.contact_container{
    display:flex;
    height:200px;
    flex-wrap: wrap;
}
.contact_me li{
   display: inline;
    position:relative;
    bottom: -100px;
    padding: 10px; 
    font-size: 2.25vw;
    margin: 5px 1vw;
    border-bottom: 3px solid black;
    text-decoration:none;
    text-transform:uppercase;
 }
.contact_me li a{
    text-decoration:none;
    color: black;
}
.contact_me li a:hover{
background-color:black;
color:rgba(104, 103, 106);
}
/*media queries*/
@media screen and (max-width: 980px){
   header{
    flex-direction:column;
   
   }
   h1{
    align-self:center;
   }
   nav{
    margin: 0 auto;
    text-align: center;
   }
   nav ul{
    float: none;
   }
   .contact_me li{
    border-bottom: 3px solid black;
    position:relative;
    bottom: -7vw;
    padding:  0 5.5vw; 
    font-size: 2.25vw;
    margin: 0 auto;
    text-align:center;
    }
   .img_children{
        flex:45%;
        }
  
    .main_container{
    flex-direction: column;
        }
    .float_left{
        float:none;
        border-right: none;
        border-bottom:5px solid black;
        text-align:center;
        margin: 0 30%;
         }
        }
 @media screen and (max-width: 768px) {
   .img_container{
    height: 1600px;
   }
   .img_children:first-child{
    height: 300px;
   }
    
    .img_children{
        flex: 100%;

    }
    .hero{
        height: 200px;
    }
    .hero-text{
        top: 150px;
    }
    
}
 @media screen and (max-width: 575px) {
header{
    max-height: 32vh;
}
nav{
    padding-top: 1vh;
}


    nav ul{
    font-size: 4vw;
}
nav li a{
    padding: 10px 10px;
}
h1{
    font-size: 15vw;
    width:50%;
    min-height: 10vh;
}
.float_left{
    float:left;
   text-transform:uppercase;
    text-align:left;
    margin: 0 5%;
    font-size: 4vw;
    border-bottom:3px solid black;
}
p{
    font-size: 3vw;
}
.img_container{
   height:825px;
}
.img_children:first-child{
    height:150px;
}
.img_children{
   max-height:150px;
}
.contact_me li{
    display: block;
    border-bottom: 2px solid black;
    position:relative;
    bottom:5vw;
    padding:  10px 5.5vw; 
    font-size: 3vw;
    margin: 15px 0;
    text-align:center;
 }
}





